* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

@media (max-width: 1119px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 750px;
    padding: 0 30px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Proxima Nova Light', sans-serif;
  color: #262626;
}

* h1, h2, h3, span, p {
  cursor: default;
}

img {
  max-width: 100%;
}

.section {
  padding: 100px 0;
}

.section-title {
  font-size: 30px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.section_title {
  padding-bottom: 100px;
}

.button {
  padding: 25px 45px;
  text-transform: uppercase;
  border: none;
  background-color: #507fe1;
  color: #ffffff;
  text-decoration: none;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.button:hover {
  cursor: pointer;
}

.button-fitting {
  padding: 10px;
  height: 30px;
  color: #507fe1;
  font-size: 11px;
  background-color: #fff;
  text-transform: uppercase;
  border: none;
}

.button-add {
  padding: 10px;
  height: 30px;
  color: #ffffff;
  font-size: 11px;
  background-color: #7c9fe8;
  text-transform: uppercase;
  border: none;
}

.button-like {
  height: 30px;
  width: 30px;
  background-color: #507fe1;
  border: none;
}

.bg-secondary {
  background-color: #f1f1f1;
  padding: 129px 0;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + label::before {
  background-color: #507fe1;
}

.checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
}

.checkbox-label:hover {
  cursor: pointer;
}

.checkbox-label::before {
  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid #dddddd;
  margin-right: 20px;
}

.map {
  overflow: hidden;
}

.map iframe {
  width: 100%;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 100;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 60px;
}

.navbar-landline, .navbar-mobile {
  text-align: right;
}

.navbar-phone {
  display: block;
  font-size: 19px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  text-decoration: none;
  margin-bottom: 5px;
  color: #262626;
}

.navbar-smalltext {
  display: block;
  font-size: 14px;
  color: #7b7b79;
  text-decoration: none;
}

.menu {
  position: fixed;
  padding: 16px 0;
  top: 80px;
  width: 100%;
  left: 0;
  background-color: #507fe1;
  z-index: 0;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 0;
}

.menu_active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  z-index: 99;
}

.menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu-link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
  color: #ffffff;
}

.menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border: none;
  border-right: 1px solid rgba(81, 11, 186, 0.2);
  border-left: 1px solid rgba(81, 11, 186, 0.2);
  height: 80px;
  width: 70px;
}

.menu-button:hover {
  cursor: pointer;
}

.menu-button:focus {
  outline: none;
}

.menu-button-line {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #89a9eb;
  margin: 2px 0;
  -webkit-transition: background 0s;
  transition: background 0s;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.menu-button-line::before, .menu-button-line::after {
  display: block;
  content: "";
  position: absolute;
  width: 25px;
  height: 3px;
  background-color: #89a9eb;
  margin: 2px 0;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition-duration: 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0;
          transition-delay: 0.3s, 0;
}

.menu-button-line::after {
  bottom: 30px;
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
  transition-property: bottom, transform, -webkit-transform;
  -webkit-transition-delay: 0s, 0.3s;
          transition-delay: 0s, 0.3s;
}

.menu-button-line::before {
  top: 30px;
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, -webkit-transform;
  transition-property: top, transform;
  transition-property: top, transform, -webkit-transform;
  -webkit-transition-delay: 0s, 0.3s;
          transition-delay: 0s, 0.3s;
}

.menu-button-line-active {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
  background: none;
}

.menu-button-line-active::after {
  bottom: 37px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-button-line-active::before {
  top: 36px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.logo-text {
  font-size: 18px;
  margin-bottom: 5px;
  text-transform: uppercase;
  display: block;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.logo-description {
  display: block;
  font-size: 14px;
  color: #7b7b79;
}

.button-o {
  border: 2px solid #507fe1;
  padding: 17px 22px;
  -webkit-text-decoration: uppercase;
          text-decoration: uppercase;
  font-size: 16px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  color: #507fe1;
  background-color: transparent;
  text-decoration: none;
}

.button-o:hover {
  cursor: pointer;
}

@media (max-width: 1126px) {
  .menu-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 991px) {
  .navbar-mobile, .navbar-landline {
    display: none;
  }
}

@media (max-width: 592px) {
  .logo {
    display: none;
  }
  .button-o {
    font-size: 12px;
  }
  .menu {
    top: 60px;
    height: 50%;
  }
  .menu-button {
    height: 60px;
  }
  .menu-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu-link {
    margin-bottom: 20px;
  }
}

.hero {
  background: #f1f1f1 url(../img/hero/hero-bg.jpg) no-repeat center top;
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 270px;
  margin-top: 80px;
}

.hero-title {
  display: block;
  font-size: 30px;
  margin-bottom: 35px;
}

.hero-subtitle {
  display: block;
  font-size: 30px;
  margin-bottom: 68px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

@media (max-width: 991px) {
  .hero {
    background-size: 100%;
    background-position: top right;
  }
}

@media (max-width: 592px) {
  .hero {
    margin-top: 60px;
  }
}

.offer-title {
  font-size: 25px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold', sans-serif;
  margin-bottom: 20px;
}

.offer-subtitle {
  font-size: 21px;
  display: block;
  margin-bottom: 40px;
  max-width: 80%;
}

.offer-block {
  background: #fff url("../img/form/form-bg.jpg") no-repeat center right;
  background-size: contain;
  padding: 80px;
  margin-top: -200px;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.offer-block-next {
  background: #fff url("../img/formNext/form-next.png") no-repeat center right;
}

.form {
  color: #000000;
}

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 900px;
  margin-bottom: 25px;
}

.form-row:last-child {
  margin-bottom: 0;
}

.form-label {
  display: block;
  font-size: 17px;
  margin-bottom: 15px;
}

.form-group {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
}

.form-par {
  font-size: 17px;
  max-width: 450px;
  margin-left: 30px;
}

.form-input {
  width: 100%;
  border-right-width: 0px;
  height: 80px;
  padding-left: 30px;
  border: 1px solid #dddddd;
}

.form-input:last-child {
  border-right-width: 1px;
}

.select {
  width: 100%;
  border-right-width: 0px;
  height: 80px;
  border: 1px solid #dddddd;
  position: relative;
}

.select:after {
  position: absolute;
  content: "";
  background-color: #c0c0c0;
  top: 40%;
  right: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.select-checked {
  line-height: 80px;
  padding-left: 30px;
}

.select-dropdown {
  position: absolute;
  visibility: hidden;
  top: 80px;
  width: 100%;
  padding: 0;
  border: 1px solid #dddddd;
  background-color: #fff;
  margin: 0;
  list-style: none;
}

.select-dropdown-active {
  visibility: visible;
}

.select-option {
  padding-top: 10px;
}

.select-option:hover {
  cursor: pointer;
  background-color: #f1f1f1;
}

@media (max-width: 1199px) {
  .offer-block {
    background-position: center right -120px;
  }
}

@media (max-width: 992px) {
  .form-par {
    display: none;
  }
}

@media (max-width: 768px) {
  .offer-title {
    font-size: 18px;
  }
  .offer-subtitle {
    font-size: 16px;
  }
  .offer-block {
    background: none;
    background-color: #fff;
    padding: 40px;
    margin-top: -300px;
  }
  .form-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form-row-checkbox {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .form-group {
    width: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 15px;
  }
}

@media (max-width: 376px) {
  .offer-title {
    font-size: 17px;
  }
  .offer-subtitle {
    font-size: 14px;
  }
  .form-checkbox {
    margin-bottom: 10px;
  }
  .form-row-checkbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .form-input {
    padding: 0px;
  }
  .form-input:not(.button) {
    height: 40px;
  }
}

.features {
  margin-bottom: 0;
  padding-bottom: 0;
}

.features-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features-block-item {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  text-align: center;
  padding-bottom: 100px;
}

@media (max-width: 991px) {
  .features-block-item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (max-width: 426px) {
  .features-block-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 50px;
    padding-bottom: 0;
  }
  .section {
    padding: 60px 0;
  }
  .section-title {
    font-size: 24px;
  }
}

.catalog {
  background-color: #f5f6f8;
}

.catalog-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog-block-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.catalog-block_title {
  font-size: 30px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.catalog-card {
  display: block;
  max-width: 570px;
  position: relative;
  margin-bottom: 35px;
  -webkit-box-shadow: 7px 5px 21px rgba(0, 0, 0, 0.1);
          box-shadow: 7px 5px 21px rgba(0, 0, 0, 0.1);
  overflow-y: hidden;
}

.catalog-card:hover .catalog-card-buttons {
  -webkit-transform: translate(0);
          transform: translate(0);
  opacity: 1;
}

.catalog-card-image {
  display: block;
}

.catalog-card-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.catalog-button-big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.catalog-button-link {
  display: block;
  text-decoration: none;
  height: 70px;
  color: #fff;
  background-color: #507fe1;
  padding: 29px 32px;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.catalog-button-txt {
  margin-top: 15px;
  font-size: 16px;
  color: #000000;
}

.tag {
  position: absolute;
  color: #fff;
  top: 10px;
  left: 10px;
  height: 30px;
  font-size: 12px;
  padding: 10px;
  background-color: #7c9fe8;
  opacity: 0.8;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.tag:hover {
  cursor: default;
}

@media (max-width: 1226px) {
  .catalog-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .catalog-card {
    max-width: 470px;
    margin: 5px;
  }
}

@media (max-width: 990px) {
  .catalog-card {
    max-width: 470px;
    margin-bottom: 20px;
  }
}

@media (max-width: 769px) {
  .catalog-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 426px) {
  .catalog-block_title {
    font-size: 24px;
  }
  .catalog-button-link {
    font-size: 12px;
  }
  .catalog-button-txt {
    font-size: 12px;
  }
  .tag {
    top: 0px;
    left: 0px;
  }
}

.blog {
  padding-bottom: 20px;
}

.blog-title {
  font-size: 24px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.blog-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 70px;
}

.blog-link-more {
  color: #507fe1;
  -webkit-text-decoration-color: #b4b4b4;
          text-decoration-color: #b4b4b4;
}

.blog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog-list-img {
  height: 200px;
  overflow: hidden;
}

.blog-list-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80px;
  -webkit-box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
}

.blog-list-card {
  margin-bottom: 20px;
}

@media (max-width: 1143px) {
  .blog-list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .blog-list-card {
    margin: 0 50px;
    margin-bottom: 50px;
  }
}

@media (max-width: 994px) {
  .blog-list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .blog-list-card {
    margin: 0 30px;
    margin-bottom: 20px;
  }
}

@media (max-width: 664px) {
  .blog-heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .blog-title {
    font-size: 18px;
  }
}

.price-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price-card {
  position: relative;
  background-color: #fff;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.price-card-pricetag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price-card-txt {
  padding: 20px;
  font-size: 15px;
}

.price-card-title {
  margin: 0;
}

.price-card-cost {
  color: #000000;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.price-card-button {
  position: absolute;
  text-align: center;
  background-color: #fff;
  left: 0;
  bottom: 0;
  width: 100%;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  height: 80px;
  padding: 20px;
  padding-top: 0;
  opacity: 0;
}

.price-card:hover .price-card-button {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  bottom: -80px;
  opacity: 1;
  z-index: 98;
}

@media (max-width: 1200px) {
  .price-title {
    margin-top: 0;
  }
  .price-block {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .price-card {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
  .price-card-img img {
    width: 100%;
  }
}

@media (max-width: 770px) {
  .price-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .price-card {
    margin-left: 20px;
  }
  .price-title {
    margin-bottom: 20px;
    font-size: 20px;
  }
}

@media (max-width: 590px) {
  .price-card {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
    margin: 0;
    margin-bottom: 15px;
  }
  .price-card-img img {
    max-height: 60%;
  }
}

@media (max-width: 351px) {
  .price-card {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.steps {
  background-color: #f5f6f8;
  text-align: center;
}

.steps-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
}

.step {
  position: relative;
}

.step:last-child::before {
  display: none;
}

.step::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  display: block;
  background-color: rgba(126, 123, 120, 0.5);
  top: 29%;
  right: -60%;
}

.step-txt {
  max-width: 160px;
  color: #000000;
  font-size: 14px;
  margin: auto;
}

.step-title {
  font-size: 18px;
}

@media (max-width: 995px) {
  .steps-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .step {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
    margin-bottom: 25px;
  }
  .step::before {
    display: none;
  }
  .step-title {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .section_title {
    padding-bottom: 30px;
  }
}

@media (max-width: 650px) {
  .step {
    width: 100%;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .section_title {
    font-size: 20px;
  }
}

@media (max-width: 451px) {
  .steps-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.slick-list {
  max-height: 350px;
}

.before-after {
  max-width: 640px;
  margin: auto;
}

.before-slider-dots {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0;
}

.before-slider-dots li {
  width: 10px;
  height: 10px;
  background-color: #999999;
  border-radius: 50%;
  margin: 5px;
}

.before-slider-dots li.slick-active {
  background-color: #5b7fdd;
}

.before-slider-dots button {
  display: none;
}

.before-slider-wrap {
  position: relative;
  max-height: 630px;
}

.before-slider-arrows {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 92%;
  padding: 0 15%;
}

.arrow {
  position: absolute;
}

.arrow:focus {
  outline: none;
}

.arrow-left {
  border: 20px solid transparent;
  border-right: 10px solid #bebfc0;
  background-color: transparent;
  left: 10%;
  top: 40%;
}

.arrow-right {
  border: 20px solid transparent;
  border-left: 10px solid #bebfc0;
  background-color: transparent;
  right: 10%;
  top: 40%;
}

.reviews {
  background-color: #f5f6f8;
  padding-bottom: 330px;
}

.review-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #f5f6f8;
}

.review-slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review-slider-txt {
  position: relative;
  background-color: #fff;
  margin-bottom: 30px;
  padding: 15px;
  max-width: 370px;
  font-style: italic;
  border-radius: 10px;
}

.review-slider-txt::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 2px;
  bottom: -41px;
  left: 44%;
  border: 20px solid transparent;
  border-top: 20px solid #fff;
}

.review-slider-img {
  display: block;
  border-radius: 50%;
  border: 2px solid #507fe1;
  max-width: 70px;
  max-height: 70px;
}

.review-slider-name {
  font-size: 14px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.factory-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.factory-block-txt {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  font-size: 20px;
  text-align: start;
}

.factory-block-img {
  margin: 20px 0;
  margin-right: 30px;
}

@media (max-width: 991px) {
  .factory-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .factory-block-txt {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
  }
  .factory-block-img {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    margin: 0;
  }
  .factory-block-img img {
    width: 100%;
    max-height: 380px;
  }
}

.contact {
  background-color: #f6f7f9;
}

.contact-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-block-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-block-img {
  margin-bottom: 25px;
}

.contact-block-txt {
  text-align: center;
}

.contact-block-link {
  font-size: 16px;
  color: #000000;
  text-decoration: none;
}

@media (max-width: 768px) {
  .contact-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-block-item {
    width: 100%;
    margin-bottom: 30px;
  }
  .contact-block-link {
    max-width: 200px;
    margin: auto;
  }
}

.question {
  background-color: #fafbfc;
  padding: 55px 0;
}

.question-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.question-title {
  font-size: 30px;
  margin-right: 40px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.question-link {
  color: #507fe1;
  -webkit-text-decoration-color: #b4b4b4;
          text-decoration-color: #b4b4b4;
}

@media (max-width: 768px) {
  .question-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .question-title {
    font-size: 23px;
    margin-bottom: 35px;
    margin-right: 0px;
  }
}

.footer {
  background-color: #262626;
  padding: 40px;
  color: #ffffff;
}

.footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
}

.footer-title {
  margin-top: 0;
  margin-bottom: 7px;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.footer-subtitle {
  display: block;
  margin-bottom: 48px;
}

.footer-copy {
  color: #767676;
}

.footer-payinfo img {
  margin: 15px;
}

.footer-phone {
  display: block;
  font-size: 20px;
  padding-bottom: 19px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.footer-mail {
  display: block;
  font-size: 16px;
  padding-bottom: 23px;
  text-align: right;
}

.footer-social {
  text-align: right;
}

.footer-social-link {
  margin-left: 13px;
}

@media (max-width: 993px) {
  .footer-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .footer-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */